* {
    font-family: normal x-small verdana, arial, helvetica, sans-serif; /* Not sure how, but seems to work. */
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 0 10px 0;
}

img {
    border-radius: 20px;
}

.voting-container {
    display: flex;
    align-items: center;
}

.voting-container button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.vote-count {
    margin: 0 10px;
    font-size: 1.2em;
}
