.panel-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.body-panel {
    margin-left: 250px;
}



.hostel {
    display: flex;
}

.thumbnail {
    width: 200px;
    height: auto;
}